body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

.viewers {
  position: relative;
  width: 100%;
  height: calc(100vh - 3em);
}

#header,
#preview,
#preview2,
#overlay {
  width: 100%;
}

#preview,
#preview2 {
  position: absolute;
  left: 0;
}

#preview {
  height: 100%;
  top: 0;
}

#preview2 {
  height: 50%;
  bottom: 0;
}

#header {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#overlay {
  position: relative;
  bottom: 0;
}

#overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: none;
}

#overlay > .notification {
  margin: auto;
  padding: 1em;
  max-width: 50%;
  background: white;
}

#models {
  flex: 0 1 auto;
  min-width: 2em;
  padding: 0.5rem;
  margin-top: 2rem;
}

.container {
  display: flex;
}

.paneles {
  /* height: calc(100vh - 3em); */
  /*overflow: hidden;*/
  background-color: #f7f7f7;
}

.mb-5 {
  margin-bottom: 1rem;
}
.panel {
  width: 380px;
  max-height: calc(100vh - 3em) / 3;
  padding: 0.2rem 2rem;
}

button {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.button-area {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 1rem 0;
}

/*Button Two*/
.button-area {
  border-radius: 4px;
  background-color: #2953dd;
  border: none;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
}

.button-area span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-area span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-area:hover span {
  padding-right: 25px;
}

.button-area:hover span:after {
  opacity: 1;
  right: 0;
}

li {
  list-style-type: none;
}

.item {
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}

.item p:last-child {
  color: #099268;
}

.toast-top-center {
  top: 12px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.noview {
  display: none;
}

/* Estilo para el sidebar */
.sidebar {
  background-color: #f7f7f7;
  height: 100vh;
  width: 400px;
}

.sidebar .close-btn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 36px;
}

#device-list-container {
  width: 300px;
  margin: 5px auto;
  margin-top: 40px;
}

.device-item {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px; /* Bordes redondeados */
}

#chart-container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}
